:root {
    --left_bar_bg_color: #fccd4e;
    --symbols_color: #bb6c04;
    --circle_bg_color: #fdc322;
}

.dark-mode {
    --left_bar_bg_color: #daa515;
    --symbols_color: #7c4803;
    --circle_bg_color: #cc9600;
}

aside {
    width: 100%; /* Define a largura da barra lateral para ocupar toda a largura disponível */
    max-width: 5vmax; /* Define a largura máxima da barra lateral */
    min-width: 30px;
}

.container {
    width: 90%; /* Define a largura do conteúdo principal */
    margin-left: 10%; /* Define a margem à esquerda para dar espaço à barra lateral */
}

.barra-esquerda {
    background-color: var(--left_bar_bg_color);
   /* Faça a barra lateral ocupar toda a largura do elemento pai (no caso, o 'aside') */
}

.material-symbols-outlined {
    color: var(--symbols_color);
    font-size: 2vmax; 
    background-color: var(--circle_bg_color);
    border-radius: 50%;
    padding: 0.5rem; /* Use 'vw' para definir o preenchimento responsivo */
    cursor: pointer;
    transition: 0.3s;
}

.material-symbols-outlined:hover {
    transform: scale(1.2);
}

.ponta {
    width: 10%; /* Defina uma largura relativa para a ponta */
}

.triangulo-para-baixo {
    width: 0;
    height: 0;
    border-left: 2.6vmax solid transparent; /* Use 'vw' para tornar a borda responsiva */
    border-right: 2.5vmax solid transparent; /* Use 'vw' para tornar a borda responsiva */
    border-top: 1.5vmax solid var(--left_bar_bg_color); /* Use 'vw' para tornar a borda responsiva */
}
