:root {
    --card_color:#f5f5f5;
    --text_color_sm: #808080;
    --border_color: #0C9ABE;
    --box_shadow: rgba(0, 0, 0, 0.25);
}

.dark-mode {
    --card_color: #8f8f8f ;
    --text_color_sm: #303030;
    --border_color: #02c0f0;
    --box_shadow: rgba(255, 255, 255, 0.25);
}

article {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.row {
    display: flex;
    justify-content: center;
}

.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: var(--card_color);
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

b{
    color: var(--text_color-sm)
}

.card-details {
    color: var(--text_color);
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
    transition: .4s ease-in-out;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: var(--border_color);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
    transition: .4s ease-in-out;
}

/*Text*/
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

/*Hover*/
.card:hover {
    border-color: var(--border_color);
    box-shadow: 0 4px 18px 0 ;
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

