:root {
    --main_bg_color: #48BEE6;
    --form_bg_color: #ffcc8a;
    --form_border_color: #cf7e13;
    --btn_bg_color: #f08f11;
    --btn_press_color: #cf7e13;
    --error_color: #ff0000;
    --text_color: #000000;
    --shadow_color: #cf7e13;
    --field_bg_color: #ca9f67;
    --field_shadow_color: #bf8e4d;
}

.dark-mode {
    --main_bg_color: #2e2c2c;
    --form_bg_color: #222222;
    --form_border_color: #ff7b00;
    --btn_bg_color: #ff7b00;
    --btn_press_color: #ff9735;
    --error_color: #ff5555;
    --text_color: #ffffff;
    --shadow_color: #ff7b00;
    --field_bg_color: #171717;
    --field_shadow_color: #050505;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--main_bg_color);
    transition: .4s ease-in-out;
}

article {
    height: 1000px;
    display: flex;
    align-items: center;
}

section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 800px; margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: var(--form_bg_color);
    border: 3px solid var(--form_border_color);
    border-radius: 25px;
    transition: .4s ease-in-out;
}


.form-control{
    min-width: 100px;
    max-width: 600px;
}

#imgFoto{
    margin-top: 20px;
    height: 150px;
    width: 150px;
    padding: 5px; 
    object-fit: cover;

} 
.foto-user{
    background-color: #f08f11;
    
}