:root {
    --card_color:#f5f5f5;
    --text_color_sm: #808080;
    --border_color: #0C9ABE;
    --box_shadow: rgba(0, 0, 0, 0.25);
}

.dark-mode {
    --card_color: #8f8f8f ;
    --text_color_sm: #303030;
    --border_color: #02c0f0;
    --box_shadow: rgba(255, 255, 255, 0.25);
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.row {
    display: flex;
    justify-content: center;
}

.form-select{
    background: var(--card_color);
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
}

.card {
    width: 18rem;
    border-radius: 20px;
    background: var(--card_color);
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card_style {
    width: 33.3%;
}

.card-body{
    width: 100%;
}

.caixa{
    flex-wrap: wrap;
}
.caixa-p{
    width: 30vmax;
}
.caixa-pp{
    min-width: 275px;
}

@media ((min-width: 320px) and (max-width: 425px)){
    #section_1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row{
        width: 250px;
        justify-content: start;
    }

    .caixa-pp{
        min-width: 250px;
    }
}