* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #48BEE6;
}

article {
    height: 90vh;
    display: flex;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

form {
    padding: 1%;
    background-color: #ffcc8a;
    border: 2px solid #cf7e13;
    border-radius: 10px;
}

.row {
    width: 25%;
    display: flex;
    flex-direction: column;
}

#flImage {
    display: none;
}

.form-control {
    width: 400px;
}

.form-select {
    width: 400px;
}

.btn {
    background-color: #f08f11;
    border-color: #cf7e13;
}

.btn:hover {
    background-color: #cf7e13;
    border-color: #cf7e13;
}