:root {
    --main_bg_color: #48BEE6;
    --form_bg_color: #ffcc8a;
    --form_border_color: #cf7e13;
    --btn_bg_color: #f08f11;
    --btn_press_color: #cf7e13;
    --error_color: #ff0000;
    --text_color: #000000;
    --shadow_color: #cf7e13;
    --field_bg_color: #ca9f67;
    --field_shadow_color: #bf8e4d;
}

.dark-mode {
    --main_bg_color: #2e2c2c;
    --form_bg_color: #222222;
    --form_border_color: #ff7b00;
    --btn_bg_color: #ff7b00;
    --btn_press_color: #ff9735;
    --error_color: #ff5555;
    --text_color: #ffffff;
    --shadow_color: #ff7b00;
    --field_bg_color: #171717;
    --field_shadow_color: #050505;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--main_bg_color);
    transition: .4s ease-in-out;
}

article {
    height: 90vh;
    display: flex;
    align-items: center;
}

section {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 350px;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: var(--form_bg_color);
    border: 3px solid var(--form_border_color);
    border-radius: 25px;
    transition: .4s ease-in-out;
}

#heading {
    text-align: center;
    color: rgb(60, 25, 156);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: var(--field_bg_color);
    box-shadow: inset 2px 5px 10px var(--field_shadow_color);
    transition: .4s ease-in-out;
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.our-text-color {
    color: var(--text_color);
}

.shadow {
    filter: drop-shadow(10px 7px 10px var(--shadow_color));
}

.row {
    width: 25%;
    display: flex;
    flex-direction: column;
}

#flImage {
    display: none;
}

.form-control {
    width: 400px;
}

.form-select {
    width: 400px;
}

#error {
    color: var(--error_color);
}