:root {
    --main_bg_color: #48BEE6;
}

.dark-mode {
    --main_bg_color: #2e2c2c;
}


.card {
    width: 500px;
}

.texto-caixa {
    font-size: 20px;
}

.nome-aluno {
    background-color: #ffcc8a;
    padding: 5px 20px;
    border-radius: 40px;
}