article {
    width: 80%;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    display: flex;
}

.foto-user{
    width: 200px;
    height: 200px;
}

.input-inacessivel {
    pointer-events: none;
}